.pointer-tip-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  transform-origin: top center;
  transition: transform 0.05s ease-out;
  translate: 0 18px;
}

.pointer-tip {
  width: var(--pointer-width, 44px);
  height: var(--pointer-height, 44px);
  display: block;

}