/* Flecha minimal que solo muestra la punta */
.pointer-tip-wrapper {
  position: relative;
  transform-origin: top center;
  translate: 0px 25px;
  transition: transform 0.05s ease-out;
  display: flex;
  justify-content: center;

}

.pointer-tip-shape {
  position: relative;
  width: calc(var(--pointer-width)*0.5);
  height: calc(var(--pointer-height)*0.5
  );
  transform: rotate(180deg);

  clip-path: polygon(50% 0%, 6% 100%, 94% 100%);
  background:  #0389c7 65%;

}

